body{
    background-color: rgb(31, 31, 31);
}

    .aqi-bar {
        width: 100%;
        height: 20px;
        border-radius: 5px;
        margin: 10px 0;
        background: linear-gradient(
            to right,
            green 0%,
            yellow 20%,
            orange 40%,
            red 60%,
            purple 80%,
            black 100%
        );
    }

    .card {
        background-color:#fff;
        border: 1px solid #ddd;
        padding: 16px;
        max-width: 450px;
        border-radius: 8px;
        font-family: Arial, sans-serif;
    }

